{% extends "social/_layout" %}

{% if currentUser %}
    {% redirect 'social' %}
{% endif %}

{% set title = "Login" %}

{% block main %}

    <div class="row">

        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

            <h2>Login</h2>

            {% if errorMessage is defined %}
                <div class="alert alert-danger">
                    <p>{{ errorMessage }}</p>
                </div>
            {% endif %}

            {% set error = craft.social.getError() %}

            {% if error %}
                <div class="alert alert-danger">
                    <p>{{error}}</p>
                </div>
            {% endif %}

            <form method="post" action="" accept-charset="UTF-8">
                {{ getCsrfInput() }}

                <input type="hidden" name="action" value="users/login">
                <input type="hidden" name="redirect" value="social">


                <div class="form-group">
                    <label for="loginName">Email address</label>
                    <input name="loginName" type="email" class="form-control" id="loginName" placeholder="Enter username or email" value="{{ craft.request.param('loginName') }}">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" placeholder="Enter password" class="form-control" id="password">
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="rememberMe" value="1">
                        Remember me
                    </label>
                </div>

                <p><input type="submit" class="btn btn-primary" value="Login with Craft"></p>
            </form>


            <h3>... or connect with</h3>

            {% for provider in craft.social.getProviders() %}

                <p>
                    <a href="{{ craft.social.loginUrl(provider.handle) }}" class="btn btn-default">
                        <img src="{{ resourceUrl('social/images/icons/'~provider.handle~'.png') }}" width="30" class="social-icon img-rounded" />

                        {{provider.name}}
                    </a>
                </p>

            {% endfor %}

        </div>

    </div>

{% endblock %}

