{#

Planned for Social 2.0

#}

{% if not currentUser %}
    {% redirect 'social/login' %}
{% endif %}

{% extends "social/_layout" %}

{% block main %}

    {% if user %}

        {% if account.errors is defined %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in account.errors %}
                    <li>{{ error|first }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="post" action="" accept-charset="UTF-8">
            <input type="hidden" name="action" value="users/saveUser">
            <input type="hidden" name="redirect" value="social">
            <input type="hidden" name="userId" value="{{ user.id }}">

            {% if craft.social.isTemporaryEmail(user.email) %}

                <h1>Please provide your email address</h1>

                <p>
                    <label for="">Email</label><br />
                    <input type="text" name="email" value="" size="40" />
                </p>

                {% set tempPass = craft.social.temporaryPassword(user.id) %}

                <input type="hidden" name="password" value="{{tempPass}}" size="40" />
            {% else %}

                <h1>Account</h1>

                <p>
                    <label for="">Email</label><br />
                    <input type="text" name="email" value="{{ user.email }}" size="40" />
                </p>

                <p>
                    <label for="">Password</label><br />
                    <input type="password" name="password" value="" size="40" />
                </p>
            {% endif %}

            <input type="submit" class="btn btn-primary" value="Save">
        </form>

    {% endif %}
{% endblock %}
