{% if not currentUser %}
    {% redirect 'social/login' %}
{% endif %}

{% extends "social/_layout" %}

{% set selectedTab = 'apps' %}

{% block main %}

    <div class="col-md-6 col-md-offset-3">

        {% set error = craft.social.error %}

        {% if error %}

            <div class="alert alert-danger">
                <p>{{error}}</p>
            </div>

        {% endif %}

        <h1>Account</h1>

        <table class="table">
            <tr>
                <th>Photo</th>
                <td>
                    {% if user.photoUrl %}
                        <img src="{{ user.photoUrl }}" />
                    {% else %}
                        —
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ user.lastName }}</td>
            </tr>
        </table>


        <h2>Connected Apps</h2>
        <table class="table table-bordered">

            {% for providerSource in craft.social.getProviders() %}

                {% set user = craft.social.userByProvider(providerSource.handle) %}

                <tr>
                    <td>
                        <strong>{{providerSource.name}}</strong>

                        {% if user %}
                            <span class="label label-success">Enabled</span>
                        {% else %}
                            <span class="label label-danger">Disabled</span>
                        {% endif %}

                        <br />

                        {% if user %}
                            You can login using {{providerSource.name}}
                        {% else %}
                            Configure {{providerSource.name}} for social login
                        {% endif %}

                    </td>
                    <td class="col-md-2 text-center">

                        {% if user %}
                            <p><a href="{{craft.social.disconnectUrl(providerSource.handle)}}" class="btn btn-default btn-sm">Disable</a></p>
                        {% else %}
                            <p><a href="{{ craft.social.connectUrl(providerSource.handle) }}" class="btn btn-primary btn-sm">Enable</a></p>
                        {% endif %}

                    </td>
                </tr>

            {% endfor %}
        </table>

    </div>

{% endblock %}
