{% if not currentUser %}
    {% redirect 'social/login' %}
{% endif %}

{% extends "social/_layout" %}

{% set selectedTab = 'apps' %}

{% block main %}

    {% set error = craft.social.error %}

    {% if error %}

        <div class="alert alert-danger">
            <p>{{error}}</p>
        </div>

    {% endif %}

    <h1>Login Apps</h1>
    <table class="table table-bordered">


        {% for providerSource in craft.social.getProviders() %}
            <tr>
                <th>{{providerSource.name}}</th>
                <td class="col-md-2 text-center">

                    {% set token = craft.oauth.getUserToken(providerSource.handle) %}

                    {% if token %}
                        <p><a href="{{craft.oauth.disconnect(providerSource.handle)}}" class="btn btn-default btn-sm">Disconnect</a></p>
                    {% else %}
                        <p><a href="{{ craft.oauth.connect(providerSource.handle) }}" class="btn btn-primary btn-sm">Connect</a></p>
                    {% endif %}

                </td>
            </tr>

        {% endfor %}
    </table>

	<h1>OAuth Apps</h1>
    <table class="table table-bordered">


        {% for providerSource in craft.oauth.getProviders() %}
            <tr>
                <th>{{providerSource.name}}</th>
                <td class="col-md-2 text-center">

                    {% set token = craft.oauth.getUserToken(providerSource.handle) %}

                    {% if token %}
                        <p><a href="{{craft.oauth.disconnect(providerSource.handle)}}" class="btn btn-default btn-sm">Disconnect</a></p>
                    {% else %}
                        <p><a href="{{ craft.oauth.connect(providerSource.handle) }}" class="btn btn-primary btn-sm">Connect</a></p>
                    {% endif %}

                </td>
            </tr>

        {% endfor %}
    </table>

    {% if craft.facebook is defined %}
        <p><a class="btn btn-default" href="{{craft.facebook.logout('login')}}">Facebook Logout</a></p>
    {% endif %}

{% endblock %}
