{% extends "social/_layout" %}

{% if not currentUser %}
    {% redirect 'social/login' %}
{% endif %}

{% block main %}

    <div class="col-md-12 text-center">

        <div class="masthead">


            {% if currentUser.photoUrl %}
                {% set photoUrl = user.photoUrl %}
            {% else %}
                {% set photoUrl = resourceUrl('images/user.gif') %}
            {% endif %}

            <img src="{{ photoUrl }}" class="img-rounded" />

            <h1>Hello, {{currentUser.friendlyName}} !</h1>
            <p class="lead">You are connected to the Social Login demo.</p>
        </div>

    </div>

{% endblock main %}
