{% extends "social/_layout" %}

{% if currentUser %}
    {% redirect 'social/account' %}
{% endif %}

{% set title = "Login" %}

{% block main %}


    <div class="row">

        <div class="col-md-6 col-md-offset-3">

            <h2>Login</h2>

            {% if errorMessage is defined %}
                <div class="alert alert-danger">
                    <p>{{ errorMessage }}</p>
                </div>
            {% endif %}

            {% set error = craft.social.error %}

            {% if error %}
                <div class="alert alert-danger">
                    <p>{{error}}</p>
                </div>
            {% endif %}

            <form method="post" action="" accept-charset="UTF-8">
                <input type="hidden" name="action" value="users/login">
                <input type="hidden" name="redirect" value="{{ craft.session.returnUrl }}">


                <div class="form-group">
                    <label for="loginName">Email address</label>
                    <input name="loginName" type="email" class="form-control" id="loginName" placeholder="Enter username or email">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" class="form-control" id="password">
                </div>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="rememberMe" value="1">
                        Remember me
                    </label>
                </div>

                <p><input type="submit" class="btn btn-primary" value="Login with Craft"></p>
            </form>

            <h3>... or connect with</h3>

            <p>
                {% for provider in craft.social.getProviders() %}
                    <a href="{{ craft.social.loginUrl(provider.handle, 'social/account') }}" class="btn btn-default">{{provider.name}}</a>
                {% endfor %}
            </p>


        </div>

    </div>

{% endblock %}

