{% if not currentUser %}
    {% redirect 'social/login' %}
{% endif %}

{% extends "social/_layout" %}

{% set selectedTab = 'apps' %}

{% block main %}

    <div class="col-md-6 col-md-offset-3">

        {% set error = craft.social.error %}

        {% if error %}

            <div class="alert alert-danger">
                <p>{{error}}</p>
            </div>

        {% endif %}

        <h2>Profile</h2>

        <form method="post" enctype="multipart/form-data">

            <input type="hidden" name="action" value="users/saveUser">
            <input type="hidden" name="redirect" value="social/profile">
            <input type="hidden" name="userId" value="{{ currentUser.id }}">

            <div class="form-group">

                <div class="row">
                    <div class="col-md-3">

                        {% if currentUser.photoUrl %}
                            {% set photoUrl = user.photoUrl %}
                        {% else %}
                            {% set photoUrl = resourceUrl('images/user.gif') %}
                        {% endif %}

                        <img src="{{ photoUrl }}" class="img-responsive img-rounded" />
                    </div>
                    <div class="col-md-9">

                        <label for="userPhoto">{{ (currentUser.photoUrl ? 'Change Photo' : 'Upload Photo') }}</label><br />
                        <p>
                            <input type="file" name="userPhoto" value="{{ (currentUser.photoUrl ? 'Change Photo' : 'Upload') }}">
                        </p>

                        <input type="submit" class="btn btn-sm btn-primary" value="Upload Photo">

                        {% if currentUser.photoUrl %}
                            <input type="submit" class="btn btn-sm btn-danger" name="deleteUserPhoto" value="Delete Photo">
                        {% endif %}

                    </div>
                </div>
            </div>

        </form>

{#
        <script type="text/javascript">

            $(document).ready(function() {
                $('#delete-user-photo').submit(function(e) {

                    var postData = $(this).serializeArray();

                    console.log(postData);

                    $.post('{{ actionUrl() }}/users/deleteUserPhoto', postData, function(data) {
                        console.log('success', data);
                    });

                    e.preventDefault(); //STOP default action
                    return;
                });
            });
        </script>#}
        <hr>

        <form method="post" enctype="multipart/form-data">

            <input type="hidden" name="action" value="users/saveUser">
            <input type="hidden" name="redirect" value="social/profile">
            <input type="hidden" name="userId" value="{{ currentUser.id }}">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text"  class="form-control" id="username" name="username" value="{{ currentUser.username }}">
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text"  class="form-control" id="firstName" name="firstName" value="{{ currentUser.firstName }}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text"  class="form-control" id="lastName" name="lastName" value="{{ currentUser.lastName }}">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="email">Email</label>
                <input type="text"  class="form-control" id="email" name="email" value="{{ currentUser.email }}">
            </div>

            <input type="submit" class="btn btn-primary" value="Save Profile">
        </form>

    </div>

{% endblock %}
