{% extends "_layouts/cp" %}

{% set title = "Social Settings"|t('social') %}

{% set docsUrl = 'https://dukt.net/social/docs' %}

{% set crumbs = [
    { label: "Settings"|t('social'), url: url('settings') },
] %}

{% set navItems = {
    loginProviders: { label: "Login Providers"|t('social'), url: url('settings/social/loginproviders') },
    settings: { label: "Settings"|t('social'), url: url('settings/social/settings') },
} %}

{% set docTitle = navItems[selectedNavItem].label~' - '~title %}

{% block sidebar %}
    <nav>
        {% include "_includes/nav" with { items: navItems, selectedItem: selectedNavItem } only %}
    </nav>
{% endblock %}
