<div class="pane">
    <div class="data">

        <h2>{{ "Login Accounts"|t('app') }}</h2>

        <div id="nologinaccounts"{% if loginAccounts|length > 0 or loginProviders|length > 0 %} class="hidden"{% endif %}>
            <p class="light">{{ "No login accounts."|t('app') }}</p>
        </div>

        {% if loginAccounts|length or user.id == currentUser.id %}

            <table id="loginAccounts" class="fullwidth">

                {% for account in loginAccounts %}

                    {% set user = account.user %}
                    {% set loginProvider = account.getLoginProvider() %}

                    {% if loginProvider %}
                        <tr data-id="{{ account.id }}" data-name="{{ loginProvider.name|t('app') }}">
                            <td class="provider">
                                <div class="thumb">
                                    <img width="20" src="{{ loginProvider.getIconUrl() }}" class="social-icon social-{{ loginProvider.handle }}" />
                                </div>

                                <div class="label">{{ loginProvider.name }}</div>
                            </td>

                            <td class="thin">
                                {% if user.id == currentUser.id %}
                                    <a class="btn small" title="{{ 'Disconnect'|t('app') }}" href="{{craft.social.getLoginAccountDisconnectUrl(loginProvider.handle)}}">Disconnect</a>
                                {% else %}
                                    <a class="icon delete" title="{{ 'Delete'|t('app') }}"></a>
                                {% endif %}
                            </td>

                        </tr>
                    {% endif %}

                {% endfor %}

                {% if user.id == currentUser.id %}
                    {% for loginProvider in loginProviders %}
                        <tr>
                            <td class="provider">
                                <div class="thumb">
                                    <img width="20" src="{{ loginProvider.getIconUrl() }}" class="social-icon social-{{ loginProvider.handle }}" />
                                </div>

                                <div class="label">{{ loginProvider.name }}</div>
                            </td>
                            <td class="thin">
                                <a class="btn small submit" href="{{ craft.social.loginUrl(loginProvider.handle) }}" data-provider="{{ loginProvider.handle }}">Connect</a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}

            </table>

        {% endif %}

    </div>
</div>

{% js %}
var adminTable = new Craft.AdminTable({
tableSelector: '#loginAccounts',
noObjectsSelector: '#nologinaccounts',
deleteAction: 'social/login-accounts/delete-login-account',
confirmDeleteMessage: '{{ "Are you sure you want to unlink “{name}” login account?"|t('app') }}',
});
{% endjs %}