.social-icon { display: inline-block; width: 16px; height: 16px; border-radius: 2px; }

table.data td.provider { white-space: nowrap; }
table.data td.provider img { margin-top: -3px; margin-right: 7px; vertical-align: middle; }

.socialthumb { display: inline-block; }
.socialthumb img { width: 30px; vertical-align: middle; }

.empty {
    text-align: center;
    padding: 15em 0;
}

@media (max-width: 768px)
{
    .empty {
        text-align: center;
        padding: 8em 0;
    }
}