{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = loginProvider.name %}

{% set crumbs = [
{ label: "Settings"|t, url: url('settings') },
{ label: "Plugin"|t, url: url('settings/plugins') },
{ label: "Social Login"|t, url: url('social') },
{ label: "Login Providers"|t, url: url('social/loginproviders') },
] %}

{% macro configWarning(setting, file) -%}
{{ "This is being overridden by the {setting} config setting."|t({
setting: '<strong>'~setting~'</strong>'
})|raw }}
{%- endmacro %}

{% from _self import configWarning %}

{% set content %}

    {% set providerScope = loginProvider.getScope() %}
    {% set providerAuthorizationOptions = loginProvider.getAuthorizationOptions() %}
    {% set oauthProvider = loginProvider.getOauthProvider() %}

    <h2 class="first">{{ "Login Provider"|t }}</h2>

        <p>
            {% if loginProvider.isEnabled %}
                <span class="status on"></span> {{ "Enabled"|t }}
            {% else %}
                <span class="status"></span><span class="light">{{ "Disabled"|t }}</span>
            {% endif %}
        </p>
    {#{{ forms.lightswitchField({
        first: true,
        label: 'Enable Social Login'|t,
        instructions: "When disabled, users will not be able to social login & register."|t,
        on:   provider.enableSocialLogin,
        toggle: 'enable-sociallogin'
    }) }}#}

    <hr>

    <h2>{{ "Scope"|t }}</h2>


        <p class="light">{{ "Scopes express the permissions that users will get when they login with {provider}."|t({ provider: loginProvider.name }) }}</p>

        <p class="light">{{ "To customize the scope for {provider}, add a <strong><code>{configVariable}</code></strong> variable containing an array of permissions to the social login config file under: {path}."|t({
            provider: oauthProvider.name,
            configVariable: oauthProvider.handle~'Scope',
            path: '<code>craft/config/social.php</code>'
        })|raw }}</p>

        {% if loginProvider.getOauthProvider().scopeDocsUrl %}
            <p class="light">
                <a href="{{ loginProvider.getOauthProvider().scopeDocsUrl }}" target="_blank">{{ "See available scopes for {provider}"|t({ provider: loginProvider.name }) }}</a>
            </p>
        {% endif %}


    {% if providerScope %}
        <ul class="bullets">
            {% for scope in providerScope %}
                <li>{{ scope }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="light">{{ "No scope defined." }}</p>
    {% endif %}

    <hr>

    <h2>{{ "Authorization Options"|t }}</h2>
    <p class="light">{{ "Authorization options are extra parameters which are passed when connecting to the loginProvider."|t }}</p>

    <p class="light">{{ "To customize the authorization options for {provider}, add a <strong><code>{configVariable}</code></strong> variable containing a key/value array of authorization options to the social login config file under: {path}."|t({
        provider: oauthProvider.name,
        configVariable: oauthProvider.handle~'AuthorizationOptions',
        path: '<code>craft/config/social.php</code>'
    })|raw }}</p>

    {% if providerAuthorizationOptions %}
        <ul class="bullets">
            {% for optionKey, optionValue in providerAuthorizationOptions %}
                <li><strong>{{ optionKey }}:</strong> {{ optionValue }} </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{{ "No authorization options defined." }}</p>
    {% endif %}

    <hr>

    <h2>{{ "OAuth Provider"|t }}</h2>

    <p>
        {% if oauthProvider.isConfigured %}
            <span class="status on"></span> {{ "Configured"|t }}
        {% else %}
            <span class="status"></span>{{ "Not Configured"|t }}
        {% endif %}
    </p>

    <a href="{{ url('oauth/providers/'~loginProvider.handle) }}">{{ "{provider} OAuth provider settings"|t({ provider: loginProvider.name }) }}</a>

{% endset %}