{% extends "social/_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'loginProviders' %}

{% set content %}

    <table id="fields" class="data fullwidth collapsible">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">{{ "Name"|t }}</th>
                <th scope="col">{{ "Handle"|t }}</th>
                <th scope="col">{{ "Login Status"|t }}</th>

                {% if craft.config.get('advancedMode', 'social') %}
                    <th scope="col">{{ "Scope"|t }}</th>
                    <th scope="col">{{ "Authorization Options"|t }}</th>
                {% endif %}

                <th scope="col">{{ "OAuth Provider Settings"|t }}</th>
            </tr>
        </thead>

        <tbody>
            {% for loginProvider in loginProviders %}
                {% set oauthProvider = loginProvider.getOauthProvider() %}
                <tr>
                    <td class="thin">
                        {% if oauthProvider.iconUrl %}
                            <img src="{{ oauthProvider.iconUrl }}" height="24" />
                        {% endif %}
                    </td>

                    {% if craft.config.get('advancedMode', 'social') %}
                        <td><a href="{{ url('social/loginproviders/'~loginProvider.handle) }}">{{ loginProvider.name }}</a></td>
                    {% else %}
                        <th>{{ loginProvider.name }}</th>
                    {% endif %}

                    <td class="light">{{ loginProvider.handle }}</td>

                    <td>
                        {% if loginProvider.isEnabled %}
                            <span class="status on"></span> {{ "Enabled"|t }}
                        {% else %}
                            <span class="status"></span> {{ "Disabled"|t }}
                        {% endif %}
                    </td>

                    {% if craft.config.get('advancedMode', 'social') %}
                        <td class="light">{{ loginProvider.getScope()|length }} permission(s)</td>
                        <td class="light">{{ loginProvider.getAuthorizationOptions()|length }} authorization option(s)</td>
                    {% endif %}

                    <td class="thin"><a href="{{ url('oauth/providers/'~loginProvider.handle) }}" title="{{ 'OAuth Settings'|t }}" data-icon="settings"></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endset %}
