{% includeCssResource 'social/css/disableSave.css' %}

{% set oauthPlugin = craft.plugins.getPlugin('oauth', false) %}

{% set plugin = craft.plugins.getPlugin('social') %}
{% set pluginHandle = plugin.classHandle|lower %}


{% if oauthPlugin is null %}
    {% include pluginHandle~'/_oauth/download' %}
{% else %}
    {% if not oauthPlugin.isInstalled %}
        {% include pluginHandle~'/_oauth/install' %}
    {% elseif not oauthPlugin.isEnabled %}
        {% include pluginHandle~'/_oauth/enable' %}
    {% endif %}
{% endif %}