{% if loginProvider %}
    <span class="provider">
        <div class="thumb">
            <img width="20" src="{{ loginProvider.getIconUrl() }}" class="social-icon social-{{ loginProvider.handle }}" />
        </div>
    </span>
{% endif %}