{% if craft.oauth is not defined %}
    {% redirect 'social/oauth' %}
{% endif %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}
{% set centered = true %}

{% set title = "Social Settings"|t %}


{% set crumbs = [
    { label: "Social"|t, url: url('social') },
] %}

{% set content %}
    <h2>OAuth Providers</h2>


    <table id="fields" class="data collapsible">
        <thead>
            <tr>
                <th scope="col">{{ "Name"|t }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% if craft.oauth is defined %}
                {% for provider in craft.oauth.getProviders() %}

                    {% set providerRecord = craft.oauth.getProvider(provider) %}

                    <tr>
                        <td>{{provider}}</td>

                        <td class="nowrap">



                            {% if providerRecord.clientId is not null and providerRecord.clientSecret is not null %}
                                {% if providerRecord.enabled %}
                                    <span class="status on"></span> Enabled&nbsp;
                                {% else %}
                                    <span class="status off"></span> Disabled&nbsp;
                                {% endif %}
                            {% else %}
                                <span class="status"></span><span class="light">Not configured</span>
                            {% endif %}
                        </td>

                        <td class="thin nowrap"><a class="btn small" href="{{ url('social/settings/'~provider) }}">Settings</a></td>

                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <p><em><strong>Notice :</strong> OAuth providers settings are system wide.</em></p>


{% endset %}
