{% extends "_layouts/cp" %}

{% set title = "Social Settings"|t('social') %}

{% set docsUrl = 'https://dukt.net/social/docs' %}

{% if CraftEdition == CraftPro %}

    {% set crumbs = [
        { label: "Settings"|t('social'), url: url('settings') },
    ] %}

    {% set tabs = {
        loginProviders: { label: "Login Providers"|t('social'), url: url('settings/social/loginproviders') },
        settings: { label: "Settings"|t('social'), url: url('settings/social/settings') },
    } %}

	{% set docTitle = tabs[selectedTab].label~' - '~title %}

{% else %}

    {% set content %}

        <h2>{{ "Craft Pro required"|t('social') }}</h2>
        <p>{{ 'Social Login plugin requires {link} unlimited user accounts feature.'|t({link:'<a href="https://craftcms.com/pricing">Craft Pro</a>'})|raw }}</p>

    {% endset %}

{% endif %}
