{% extends "_layouts/cp" %}

{% set title = "Social Login"|t('app') %}

{% set docsUrl = 'https://dukt.net/craft/social/docs' %}

{% if CraftEdition == CraftPro %}

    {% set crumbs = [
        { label: "Social"|t, url: url('social') },
        { label: "Settings"|t, url: url('social/settings') },
    ] %}

    {% set tabs = {
        loginProviders: { label: "Login Providers"|t, url: url('social/loginproviders') },
        settings: { label: "Settings"|t, url: url('social/settings') },
    } %}

{% else %}

    {% set content %}

        <h2>{{ "Craft Pro required"|t('app') }}</h2>
        <p>{{ 'Social Login plugin requires {link} unlimited user accounts feature.'|t({link:'<a href="http://buildwithcraft.com/pricing">Craft Pro</a>'})|raw }}</p>

    {% endset %}

{% endif %}
