{% if not currentUser %}
    {% redirect 'social/login' %}
{% endif %}

{% extends "social/_layout" %}

{% set selectedTab = 'apps' %}

{% block main %}

    <div class="col-md-6 col-md-offset-3">

        {% set error = craft.social.getError() %}

        {% if error %}

            <div class="alert alert-danger">
                <p>{{error}}</p>
            </div>

        {% endif %}


        <h2>Apps</h2>

        {% for provider in craft.social.getProviders() %}

            {% set user = craft.social.getUserByProvider(provider.handle) %}
            <hr>

            <div class="row">
                <div class="col-md-2">
                    <img src="{{ resourceUrl('social/images/icons/'~provider.handle~'.png') }}" width="100%" class="social-icon img-rounded" />
                </div>

                <div class="col-md-7">

                    <strong>{{provider.name}}</strong>

                    <br />

                    {% if user %}
                        You can login using {{provider.name}}.
                    {% else %}
                        {{provider.name}} login is disabled for your account.
                    {% endif %}

                </div>

                <div class="col-md-3 text-right">

                    {% if user %}
                        <p>
                            <a href="{{craft.social.disconnectUrl(provider.handle)}}" class="btn btn-default btn-sm">Disconnect</a>
                        </p>
                    {% else %}
                        <p>
                            <a href="{{ craft.social.connectUrl(provider.handle) }}" class="btn btn-primary btn-sm">Enable {{ provider.name }} Login</a>
                        </p>
                    {% endif %}

                </div>
            </div>

        {% endfor %}

        <hr>
    </div>

{% endblock %}
