{% import "_includes/forms" as forms %}


{#% includeCssResource 'social/css/disableSave.css' %#}

{% set oauth = craft.plugins.getPlugin('oauth') %}

{% if oauth %}

	{% include 'oauth/updates/_check' with {plugins:['oauth', 'social']} %}


	<h2 class="first">Enabled Providers</h2>

	<ul>
		{% set oneFound = false %}

        {% for provider in craft.oauth.getProviders() %}

            	{% set oneFound = true %}
				<li><span class="status on"></span> {{provider.name}}</li>

        {% endfor %}

        {% if not oneFound %}
			<li><em>No provider configured</em></li>
        {% endif %}
	</ul>

	<p><a href="{{url('oauth')}}" class="btn icon settings">OAuth providers</a></p>

	<hr>

	<h2>Fake Email Registration</h2>

    {{ forms.checkboxField({
        label: 'Register user with a fake email if OAuth account email is not defined ?'|t,
        instructions: "Some OAuth providers never provide account email address. This option allows you to register/login the user right away even if the OAuth provider doesn't provide an email. Drawback is that you can't send email to the user until he updates with a valid email."|t,
        first:true,
        required: true,
        name: 'allowFakeEmail',
        value: 1,
        checked: settings ? settings.allowFakeEmail : true,
        errors: settings ? settings.errors('allowFakeEmail') : null
    }) }}

{% else %}

	{% include 'social/_oauth/index' %}

{% endif %}

