{% import "_includes/forms" as forms %}


{#% includeCssResource 'social/css/disableSave.css' %#}

{% set oauth = craft.plugins.getPlugin('oauth') %}

{% if oauth %}

	{# {% include 'oauth/updates/_check' with {plugins:['oauth', 'social']} %} #}

	<h2 class="first">OAuth Providers</h2>

    <p>Set up the OAuth providers that you want to use for social login.</p>

	{% set oneFound = false %}

    {% set providers = craft.social.getProviders(false) %}

    {% if providers|length > 0 %}
        <ul>
            {% for provider in providers %}
				<li><span class="status {{(provider.isConfigured ? 'on' : '')}}"></span> {{provider.name}}</li>
            {% endfor %}
        </ul>
    {% else %}
		<p>No provider configured</p>
    {% endif %}

	<p><a href="{{url('oauth')}}" class="btn icon settings">OAuth Settings</a></p>

    <hr>

    {{ forms.checkboxField({
        label: 'Allow social registration?'|t,
        first:true,
        required: true,
        name: 'allowSocialRegistration',
        value: 1,
        checked: settings ? settings.allowSocialRegistration : true,
        errors: settings ? settings.errors('allowSocialRegistration') : null,
        toggle: 'defaultGroup'
    }) }}

    <div id="defaultGroup"{% if settings.allowSocialRegistration is not defined or not settings.allowSocialRegistration %} class="hidden"{% endif %}>
        {% set groups = [{ label: "None"|t, value: '' }] %}
        {% for group in craft.userGroups.getAllGroups() %}
            {% set groups = groups|merge([{ label: group.name, value: group.id }]) %}
        {% endfor %}

        {{ forms.selectField({
            label: "Default User Group"|t,
            instructions: "Choose a user group that socially-registered members will be added to by default."|t,
            name: 'defaultGroup',
            options: groups,
            value: (settings.defaultGroup is defined ? settings.defaultGroup : null)
        }) }}
    </div>
    {#

    Planned for Social 2.0

	<h2>Fake Email Registration (beta)</h2>

    {{ forms.checkboxField({
        label: 'Register user with a fake email if OAuth account email is not defined ?'|t,
        instructions: "Some OAuth providers never provide account email address. This option allows you to register/login the user right away even if the OAuth provider doesn't provide an email. Drawback is that you can't send emails to the user until he updates with a valid email."|t,
        first:true,
        required: true,
        name: 'allowFakeEmail',
        value: 1,
        checked: settings ? settings.allowFakeEmail : true,
        errors: settings ? settings.errors('allowFakeEmail') : null
    }) }}

    #}

{% else %}

	{% include 'social/_oauth/index' %}

{% endif %}

