{% extends "social/_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set selectedTab = 'gateways' %}

{% includeCssResource "social/css/social.css" %}

{% set content %}

    {% if gateways|length > 0 %}

        <table class="data fullwidth">

            <thead>
                <tr>
                    <th></th>
                    <th>Gateway</th>
                    <th>OAuth Provider</th>
                </tr>
            </thead>

            {% for gateway in gateways %}

                <tr>
                    <td class="thin">
                        <img src="{{ gateway.getIconUrl() }}" class="social-icon social-{{ gateway.handle }}" />
                    </td>
                    <td>{{gateway.name}}</td>
                    <td>
                        <span class="status {{ (gateway.isConfigured ? 'on' : '') }}"></span>

                        {% if gateway.isConfigured %}
                            {{ 'Configured'|t }}
                        {% else %}
                            {{ 'Not configured'|t }}
                        {% endif %}

                        &nbsp;

                        <a class="btn small" href="{{ url('oauth/'~gateway.handle) }}">{{ 'Settings'|t }}</a>
                    </td>
                </tr>

            {% endfor %}

        </table>

    {% endif %}

{% endset %}
