{% extends "social/_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set selectedTab = 'gateways' %}

{% set content %}

    {% if gateways|length > 0 %}

        <table class="data fullwidth">

            {% for gateway in gateways %}

                <tr>
                    <td>
                        <span class="status {{(gateway.isConfigured ? 'on' : '')}}"></span>{{gateway.name}}
                    </td>
                    <td>
                        <a href="{{ url('oauth/'~gateway.handle) }}">{{ 'Configure OAuth provider'|t }}</a>
                    </td>
                </tr>

            {% endfor %}

        </table>

    {% endif %}

{% endset %}
