{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = loginProvider.name %}

{% set crumbs = [
    { label: "Settings"|t('social'), url: url('settings') },
    { label: "Social"|t('social'), url: url('settings/social') },
    { label: "Login Providers"|t('social'), url: url('settings/social/loginproviders') },
] %}

{% set content %}

    <h2 class="first">{{ "Login Provider"|t('social') }}</h2>

    {% if loginProvider.iconUrl %}
        <img src="{{ loginProvider.iconUrl }}" height="48" />
    {% endif %}

    {% if loginProvider.isConfigured %}
        {% if loginProvider.isEnabled %}
            <p><span class="status on"></span> {{ "Social Login with {provider} is enabled"|t('social', { provider: loginProvider.name }) }}</p>
        {% else %}
            <p><span class="status"></span> {{ "Social Login with {provider} is disabled"|t('social', { provider: loginProvider.name }) }}</p>
        {% endif %}

    {% else %}
        <p><span class="status"></span> {{ "Social Login with {provider} is disabled"|t('social', { provider: loginProvider.name }) }}</p>
        <p class="light">{{ "Social Login with {provider} is disabled because {oauthProviderLink} is not configured."|t('social', { provider: loginProvider.name, oauthProviderLink: '<a href="'~url('oauth/providers/'~loginProvider.handle)~'">{provider} OAuth provider</a>'|t({provider: loginProvider.name}) })|raw }}</p>
    {% endif %}

    <hr>

    <h2>{{ "OAuth Client"|t('social') }}</h2>

    <ul class="bullets">
        <li><strong>Client ID:</strong> {{ loginProvider.infos.clientId ?? '' }}</li>
        <li><strong>Client Secret:</strong> {{ loginProvider.infos.clientSecret ?? '' }}</li>
        <li><strong>Redirect URI:</strong> {{ loginProvider.getRedirectUri() }}</li>
    </ul>


	{% if loginProvider.scope or loginProvider.authorizationOptions %}
        {% if loginProvider.scope %}
            <h2>{{ "Permissions"|t('social') }}</h2>
            <ul class="bullets">
                {% for scope in loginProvider.scope %}
                    <li>{{ scope }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if loginProvider.authorizationOptions %}
            <h2>{{ "Authorization Options"|t('social') }}</h2>
            <ul class="bullets">
                {% for optionKey, optionValue in loginProvider.authorizationOptions %}
                    <li><strong>{{ optionKey }}:</strong> {{ optionValue }} </li>
                {% endfor %}
            </ul>
        {% endif %}
	{% endif %}

{% endset %}
