{% extends "social/loginproviders/_layout" %}
{% import "_includes/forms" as forms %}

{% set content %}
    <form method="post">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="social/login-providers/save-oauth-provider">
        <input type="hidden" name="redirect" value="{{ 'settings/social/loginproviders'|hash }}">
        <input type="hidden" name="handle" value="{{ loginProvider.handle }}">

        <h2>{{ 'Step 1: Create the OAuth application'|t('social') }}</h2>

        <p>{{ 'Go to the {link}, create a new application or configure an existing one using the following settings:'|t('social', {link: '<a href="'~loginProvider.managerUrl~'">'~'{loginProvider} API Console'|t('social', { loginProvider: loginProvider.name })~'</a>'})|raw }}</p>

        {{ forms.textField({
            readonly: true,
            label: "Redirect URI"|t('social'),
            value: loginProvider.getRedirectUri(),
            warning: loginProvider.getRedirectUriWarning()
        }) }}

        <h2>{{ 'Step 2: Configure the OAuth client'|t('social') }}</h2>

        <p>{{ '{loginProvider} will provide you with a client ID and secret for your application.'|t('social', { loginProvider: loginProvider.name }) }}</p>
        <p>{{ 'Copy the client ID & client secret from the {link}, paste them below, and save.'|t('social', { link: '<a href="'~loginProvider.managerUrl~'">'~'{loginProvider} API Console'|t('social', { loginProvider: loginProvider.name })~'</a>'})|raw }}</p>

        {{ forms.autosuggestField({
            instructions: "Set the `loginProviders.{loginProviderHandle}.clientId` config in your `config/social.php` file."|t('social', {loginProviderHandle: loginProvider.handle}),
            placeholder: "{loginProvider} Client ID"|t('social', { loginProvider: loginProvider.name }),
            label: "Client ID"|t('social'),
            name: 'clientId',
            value: oauthProviderConfig.options.clientId ?? '',
            suggestions: craft.cp.getEnvSuggestions(),
            suggestEnvVars: true,
        }) }}

        {{ forms.autosuggestField({
            instructions: "Set the `loginProviders.{loginProviderHandle}.clientSecret` config in your `config/social.php` file."|t('social', {loginProviderHandle: loginProvider.handle}),
            placeholder: "{loginProvider} Client Secret"|t('social', { loginProvider: loginProvider.name }),
            label: "Client Secret"|t('social'),
            name: 'clientSecret',
            value: oauthProviderConfig.options.clientSecret ?? '',
            suggestions: craft.cp.getEnvSuggestions(),
            suggestEnvVars: true,
        }) }}

        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ 'Save'|t('social') }}" />
        </div>
    </form>

    <hr>

    <p><em>{{ 'Check the {link} for more details on how to setup OAuth.'|t('social', { link: '<a href="https://dukt.net/docs/social/v2/login-providers.html#oauth-configuration" target="_blank">documentation</a>'})|raw }}</em></p>

{% endset %}
