{% extends "social/loginproviders/_layout" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'userMapping' %}

{% set content %}

    <h2>{{ 'User Mapping'|t('social') }}</h2>

    <table class="data fullwidth">
        <thead>
        <tr>
            <th>{{ 'User Field Handle'|t('social') }}</th>
            <th>{{ 'Template'|t('social') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for userFieldHandle, template in userMapping %}
            <tr>
                <td><code>{{ userFieldHandle }}</code></td>
                <td><code>{{ template }}</code></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endset %}
