{% extends "social/loginproviders/_layout" %}
{% import "_includes/forms" as forms %}

{% set selectedTab = 'userMapping' %}

{% set content %}

    <h2>{{ 'User Mapping'|t('social') }}</h2>

    {% if loginProvider.getUserMapping()|length %}
        <table class="data fullwidth">
            <thead>
            <tr>
                <th>{{ 'User Field Handle'|t('social') }}</th>
                <th>{{ 'Template'|t('social') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for userFieldHandle, template in loginProvider.getUserMapping() %}
                <tr>
                    <td><code>{{ userFieldHandle }}</code></td>
                    <td><code>{{ template }}</code></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'No user field mapping defined.'|t('social') }}</p>
        <hr>
    {% endif %}

    <p><em>{{ 'Check the {link} for more details on how to setup user field mapping.'|t('social', { link: '<a href="https://docs.dukt.net/social/v2/login-providers.html#user-field-mapping" target="_blank">documentation</a>'})|raw }}</em></p>

{% endset %}
