{% extends "_layouts/cp" %}

{% set crumbs = [
    { label: "Settings"|t, url: url('settings') },
    { label: "Plugins"|t, url: url('settings/plugins') }
] %}

{% set title = "Social Login"|t %}


{% if CraftEdition == CraftPro %}

    {% set tabs = {
        settings: { label: "Settings"|t, url: url('social/settings') },
        providers: { label: "Providers"|t, url: url('social/providers') },
    } %}

{% else %}


    {% set content %}

        <h2>{{ "Craft Pro required"|t }}</h2>
        <p>{{ 'Social Login plugin requires {link} unlimited user accounts feature.'|t({link:'<a href="http://buildwithcraft.com/pricing">Craft Pro</a>'})|raw }}</p>

    {% endset %}


{% endif %}
