{% extends "_layouts/cp" %}
{% set centered = true %}

{% set title = "Connect"|t %}


{% set content %}

    <table id="fields" class="data collapsible">
        <thead>
            <tr>
                <th scope="col">{{ "Name"|t }}</th>
                <th>{{ "Settings"|t }}</th>
            </tr>
        </thead>
        <tbody>
            {% for provider in craft.connect.getProviders() %}
                <tr>
                    <td>{{provider}}</td>
                    <td class="thin nowrap"><a class="btn small" href="{{ url('connect/settings/'~provider) }}">Settings</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endset %}