{% if craft.oauth is not defined %}
    {% redirect 'social/oauth' %}
{% endif %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Social"|t %}

{% set extraPageHeaderHtml %}
  <a class="btn settings icon" href="{{ url('social/settings') }}" title="{{ 'Settings'|t }}"></a>
{% endset %}



{% set content %}


    <h2>Social</h2>

    <table border="1">
        {% for provider in craft.oauth.getProviders() %}
            {% set account = craft.social.getAccount(provider) %}

            {% if account %}
                <tr>
                    <td>{{provider}}</td>
                    <td>{{account.email}}</td>
                    <td><a href="{{craft.social.disconnect(provider)}}">Disconnect</a></td>
                </tr>
            {% else %}
                <tr>
                    <td>{{provider}}</td>
                    <td><em>Not authenticated</em></td>
                    <td>
                        {% if craft.oauth.providerIsConfigured(provider) %}
                            <a href="{{ craft.social.connect(provider) }}">Connect</a>
                        {% else %}
                            <em>Authentication disabled</em>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <h2>Tokens</h2>

    {% if craft.oauth is defined %}

        {% set tokens = craft.oauth.getTokens('social.user') %}
    
        {% if tokens|length > 0 %}
            <table class="data collapsible">
                <thead>
                    <tr>
                        <th scope="col">{{ "User ID"|t }}</th>
                        <th scope="col">{{ "User"|t }}</th>
                        <th scope="col">{{ "Namespace"|t }}</th>
                        <th scope="col">{{ "Provider"|t }}</th>
                        <th scope="col">{{ "Created"|t }}</th>
                        <th scope="col">{{ "Updated"|t }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for token in tokens %}
                        <tr>
                            <td>{{token.user.id}}</td>
                            <td>{{token.user.email}}</td>
                            <td>{{token.namespace}}</td>
                            <td>{{token.provider}}</td>
                            <td>{{token.dateCreated}}</td>
                            <td>{{token.dateUpdated}}</td>
                            <td><a class="btn small" href="{{actionUrl('social/token/remove', {tokenId : token.id})}}">Remove</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p><em>No token found, it looks like no one got connected with Social yet.</em></p>
        {% endif %}
    {% endif %}

{% endset %}
