{% extends "social/_layouts/site" %}

{% if not currentUser %}
    {% redirect 'social/login' %}
{% endif %}

{% block main %}

    <div class="col-md-12 text-center">

        <div class="masthead">

            {% if currentUser.photoUrl %}
                {% set photoUrl = user.photoUrl %}
            {% else %}
                {% set photoUrl = resourceUrl('images/user.gif') %}
            {% endif %}

            <img src="{{ photoUrl }}" class="img-rounded" />

            <h1>Hello, {{currentUser.friendlyName}} !</h1>
            <p class="lead">You are connected to the Social Login demo.</p>

            {% set socialAccount = craft.social.getAccountByUserId(currentUser.id) %}
            
            {% if socialAccount %}
                {% if not socialAccount.hasEmail %}
                    <p><a href="{{ url('social/profile') }}">You haven't set your email address.</a></p>
                {% endif %}

                {% if not socialAccount.hasPassword %}
                    <p><a href="{{ url('social/profile') }}">You haven't set your password.</a></p>
                {% endif %}
            {% endif %}

        </div>

    </div>

{% endblock main %}
