{% extends "social/_layouts/site" %}

{% if currentUser %}
    {% redirect 'social' %}
{% endif %}

{% set title = "Login" %}

{% block main %}

    <div class="row ">
        <div class="col-md-6 col-md-offset-3">
            <h2>Login</h2>

            <form method="post" action="" accept-charset="UTF-8">
                {{ getCsrfInput() }}

                <input type="hidden" name="action" value="users/login">
                <input type="hidden" name="redirect" value="social">


                <div class="form-group">
                    <label for="loginName">Email address</label>
                    <input name="loginName" type="email" class="form-control" id="loginName" placeholder="Enter username or email" value="{{ craft.request.param('loginName') }}">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="password" placeholder="Enter password" class="form-control" id="password">
                </div>

                <p><input type="submit" class="btn btn-primary btn-block btn-social" value="Login with Craft"></p>
            </form>


            <h3 class="text-center">— or —</h3><br />

            {% for provider in craft.social.getProviders() %}

                <p>
                    <a href="{{ craft.social.loginUrl(provider.handle) }}" class="btn btn-default btn-block btn-social" data-provider="{{ provider.handle }}">
                        <img src="{{ provider.getIconUrl() }}" />
                        Login with {{ provider.name }}
                    </a>
                </p>

            {% endfor %}

        </div>
    </div>

{% endblock %}

