body { padding-top: 70px; }

nav { position: relative; z-index: 1; }

.navbar-right { margin-right: 0; }

.nav-tabs { margin-bottom: 20px; }

.masthead { margin: 100px 0; }

.btn-social { border: 0; padding: 10px; font-weight: bold; }
.btn-social:not(.btn-primary) { background: rgba(0,0,0,0.05); text-align: left; }

.btn-social:not(.btn-primary):hover { background: rgba(0,0,0, 0.1); }
.btn-social:not(.btn-primary) img { width: 20px; margin-left: 4px; margin-right: 7px; border-radius: 3px; }

.img-social { width: 64px; padding: 7px; border-radius: 10px; }

.notifications { position: relative; text-align: center; margin-top: -20px; }
.notifications .notification { text-align: center; background: #999; display: inline-block; padding: 7px 14px; color: #fff; }
.notifications .notification.notice { background-color: #5286d9; }
.notifications .notification.error { background-color: #da5a47; }