{% extends "social/_layout" %}

{% import "_includes/forms" as forms %}

{% set selectedTab = 'settings' %}

{% set content %}

    <form method="post" accept-charset="UTF-8" data-saveshortcut="">

        {{ getCsrfInput() }}

        <input type="hidden" name="action" value="plugins/savePluginSettings">
        <input type="hidden" name="pluginClass" value="Social">
        <input type="hidden" name="redirect" value="social/settings">

        {{ forms.checkboxField({
            label: 'Allow authentication'|t,
            instructions: "Allow people to social login to existing accounts."|t,
            name: 'settings[allowSocialLogin]',
            checked:   settings.allowSocialLogin,
            toggle: 'enableSocialLogin'
        }) }}

        <div id="enableSocialLogin"{% if not settings.allowSocialLogin %} class="hidden"{% endif %}>

            {{ forms.checkboxField({
                label: 'Accept new registrations'|t,
                instructions: "Accept user registration with social login."|t,
                name: 'settings[allowSocialRegistration]',
                checked:   settings.allowSocialRegistration,
                toggle: 'enableSocialRegistration'
            }) }}

            <div id="enableSocialRegistration"{% if not settings.allowSocialRegistration %} class="hidden"{% endif %}>

                <div id="defaultGroup">
                    {% set groups = [{ label: "None"|t, value: '' }] %}
                    {% for group in craft.userGroups.getAllGroups() %}
                        {% set groups = groups|merge([{ label: group.name, value: group.id }]) %}
                    {% endfor %}

                    {{ forms.selectField({
                        label: "Default User Group"|t,
                        instructions: "Choose a user group that socially-registered members will be added to by default."|t,
                        name: 'settings[defaultGroup]',
                        options: groups,
                        value: (settings.defaultGroup is defined ? settings.defaultGroup : null)
                    }) }}
                </div>

                {{ forms.checkboxField({
                    label: 'Auto Fill Profile'|t,
                    instructions: "Automatically fills first name, last name and photo fields (if they are available) when the user registers."|t,
                    name: 'settings[autoFillProfile]',
                    checked:   settings.autoFillProfile
                }) }}

                {{ forms.checkboxField({
                    label: 'Require Email Address'|t,
                    instructions: "If checked, the user will be asked to provide his email if the OAuth provider hasn't provided it. Unchecked, it will create a fake email (1234.twitter@example.com)."|t,
                    name: 'settings[requireEmailAddress]',
                    checked:   settings.requireEmailAddress
                }) }}

                {{ forms.textField({
                    label: 'Complete Registration Template'|t,
                    instructions: "Template of the complete registration page which is displayed when the user is asked to provide an email to complete his registration."|t,
                    name: 'settings[completeRegistrationTemplate]',
                    value:   settings.completeRegistrationTemplate
                }) }}

            </div>
        </div>

        <div class="buttons">
            <input type="submit" class="btn submit force" value="Save">
        </div>
    </form>


{% endset %}