{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = user.email  %}

{% set crumbs = [
    { label: "Settings"|t, url: url('settings') },
    { label: "Plugin"|t, url: url('settings/plugins') },
    { label: "Social Login"|t, url: url('social') },
    { label: "Login Accounts"|t, url: url('social/loginaccounts') },
] %}

{% includeCssResource "social/css/social.css" %}

{% set content %}

    <h2>{{ "Craft User"|t }}</h2>

    <ul>
        <li><strong>{{ "Username:"|t }}</strong> {{ user.username }}</li>
        <li><strong>{{ "Email:"|t }}</strong> {{ user.email }}</li>
    </ul>

    <p>
        <a href="{{ user.cpEditUrl }}" class="btn small">{{ "Edit User"|t }}</a>
    </p>

    <hr>

    <h2>{{ "Login Accounts"|t }}</h2>

    <div id="nologinaccounts"{% if loginAccounts|length == 0 %} class="hidden"{% endif %}>
        <p>{{ "No login accounts exist yet."|t }}</p>
    </div>

    {% if loginAccounts|length > 0 %}

        <table id="loginAccounts" class="data fullwidth">
            <thead>
                <tr>
                    <th>{{ "OAuth Provider"|t }}</th>
                    <th>{{ "Social User ID"|t }}</th>
                </tr>
            </thead>

            {% for account in loginAccounts %}

                {% set user = account.user %}
                {% set oauthProvider = craft.oauth.getProvider(account.providerHandle) %}

                {% if oauthProvider %}
                    <tr data-id="{{ account.id }}" data-name="{{ oauthProvider.name|t }}">
                        <td class="provider">
                            <img src="{{ oauthProvider.getIconUrl() }}" class="social-icon social-{{ oauthProvider.handle }}" />{{ oauthProvider.name }}
                        </td>
                        <td>
                            {{ account.socialUid }}
                        </td>

                        <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
                    </tr>
                {% endif %}

            {% endfor %}
        </table>

    {% endif %}

    {% includejs %}
        var adminTable = new Craft.AdminTable({
            tableSelector: '#loginAccounts',
            noObjectsSelector: '#nologinaccounts',
            deleteAction: 'social/loginAccounts/deleteLoginAccount',
            confirmDeleteMessage: '{{ "Are you sure you want to delete “{name}”?"|t }}',
            onDeleteObject: function()
            {
                // Hide the Entries tab if that was the last one
                // if (adminTable.totalObjects == 0)
                // {
                //     $('#nav-entries').remove();
                // }
            }
        });
    {% endincludejs %}
{% endset %}


